#################################
## Shared between git and linters
#################################

## Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules
vendor

## TypeScript cache
*.tsbuildinfo

## Optional eslint cache
.eslintcache

## Yarn Integrity file
.yarn-integrity

## macOS directory file
.DS_Store

## Next.js build output
.next

## Environment variables
.env.local
.blockprotocolrc

## Build artifacts
dist
build
storybook-static

## VScode config
.vscode

## Vercel
.vercel

## Testing
.nyc_output
coverage

## Local files
var

## Sentry
.sentryclirc

## Rust / WASM
*.rs.bk
bin
Cargo.lock
pkg
target
wasm-pack.log

## Rollup
.rollup.cache

## Workspace-specific
apps/site/playwright-report
apps/site/public/schemas
apps/site/site-map.json
apps/site/test-results
libs/@blockprotocol/type-system/wasm
libs/block-template-html/dev/src
libs/mock-block-dock/src/version.ts
