# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# macOS directory file
.DS_Store

# Next.js build output
.next

# Environment variables
.env.local

# Build artifacts
dist

# vscode config
.vscode

# vercel
.vercel

# Testing
.nyc_output
coverage

# workspace specific
site/blocks-data.json
site/playwright-report
site/public/blocks
site/public/schemas
site/site-map.json
site/test-results

var

# Sentry
.sentryclirc
