#########################
## Shared between linters
#########################

## Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules/

## TypeScript cache
*.tsbuildinfo

## Optional eslint cache
.eslintcache

## Yarn Integrity file
.yarn-integrity

## macOS directory file
.DS_Store

## Next.js build output
.next

## Environment variables
.env.local
.blockprotocolrc

## Build artifacts
dist

## VScode config
.vscode

## Vercel
.vercel

## Testing
.nyc_output
coverage

## Local files
var

## Sentry
.sentryclirc

##################
## Specific to git
##################

## Pattenrs with prefixes that cannot be picked by ESLint
crates/**/*.rs.bk
crates/**/bin/
crates/**/Cargo.lock
crates/**/pkg/
crates/**/target
crates/**/wasm-pack.log
packages/block-template-html/dev/src
packages/mock-block-dock/src/version.ts
site/blocks-data.json
site/playwright-report
site/public/blocks
site/public/schemas
site/site-map.json
site/test-results

## Build artifacts that need to be version-controlled
!packages/@blockprotocol/type-system-node/dist
!packages/@blockprotocol/type-system-web/dist
