*:focus {
  outline: none !important;
}

#partners_form input {
  width: 268px;
  font-size: 15px;
}

#partners_form div {
  font-size: 13px;
}

#partners_form textarea {
  width: 535px;
}

#partners_header a {
  font-size: 42px;
}

#partners_header h1 {
  font-size: 62px;
}

#partners_header div {
  font-size: 24px;
}

#partners main h2 {
  font-size: 42px;
}

#partners_form button,
#return_home {
  background: linear-gradient(
    95.39deg,
    #24bdff 0%,
    #1e4fff 51.56%,
    #ff41e1 100%
  );
  font-size: 16px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  #partners_form input {
    width: 100%;
  }

  #partners_form textarea {
    width: 100%;
  }

  #partners_header a {
    font-size: 22px;
  }

  #partners_header h1 {
    font-size: 32px;
  }

  #partners main h2 {
    font-size: 26px;
  }

  #partners_header div {
    font-size: 18px;
  }
}
