@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("./inter-light.ttf") format("trueType");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./inter-regular.ttf") format("trueType");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("./inter-medium.ttf") format("trueType");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./inter-regular.ttf") format("trueType");
}

@font-face {
    font-family: "Mono";
    font-weight: 400;
    src: url("./jet-brains-mono-regular.woff2") format("woff2");
}

.mbd-debug-mode-toggle {
    font-family: Inter, "Helvetica", "Arial", sans-serif;
    position: fixed;
    top: 9px;
    right: 24px;
    background-color: white;
    border: 1px solid #DDE7F0;
    color: #37434e;
    background: transparent;
    font-size: 0.8125rem;
    line-height: 1.75;
    padding: 3px 9px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mbd-debug-mode-toggle > svg {
    height: 20px;
    width: 40px;
    margin-left: 10px;
}

.mbd-debug-mode-toggle:hover {
    background-color: rgba(0, 0, 0, 0.04);
}