@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./inter-light.ttf") format("trueType");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./inter-regular.ttf") format("trueType");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./inter-medium.ttf") format("trueType");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./inter-regular.ttf") format("trueType");
}

@font-face {
  font-family: "Mono";
  font-weight: 400;
  src: url("./jet-brains-mono-regular.woff2") format("woff2");
}

body {
    margin: 0;
}

.mbd-non-debug-mode-wrapper {
    padding-top: 60px;
}

.mbd-debug-mode-toggle-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
}

.mbd-debug-mode-toggle {
    font-family: Inter, "Helvetica", "Arial", sans-serif;
    z-index: 1000;
    background-color: white;
    border: 1px solid #DDE7F0;
    color: #37434e;
    background: transparent;
    font-size: 0.8125rem;
    line-height: 1.75;
    padding: 3px 9px;
    border-radius: 4px;
    cursor: pointer;
    align-content: baseline;
    display: flex;
    align-items: center;
    background-color: white;
}

.mbd-debug-mode-toggle > svg {
  height: 20px;
  width: 40px;
  margin-left: 10px;
}

.mbd-debug-mode-toggle:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
