.block {
  font-family: system-ui, "Helvetica Neue", "Arial", sans-serif;
  color: #1e293b;

  button {
    background-color: #0284c7;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: clamp(0.85rem, 0.22vw + 0.83rem, 0.95rem);
    line-height: 1.5;
    transition: 250ms ease-in-out;

    &:hover {
      background-color: #0369a1;
      cursor: pointer;
    }
  }
}
