name: Algolia Upload Index

env:
  ALGOLIA_PROJECT: ${{ secrets.ALGOLIA_PROJECT }}
  AGOLIA_WRITE_KEY: ${{ secrets.AGOLIA_WRITE_KEY }}
  ALGOLIA_INDEX: ${{ secrets.ALGOLIA_INDEX }}

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn

      - run: yarn install

      - name: Sync Algolia Index
        run: yarn exe scripts/sync-algolia-index.ts
