name: Warm-up Vercel

on:
  deployment_status:
  schedule:
    - cron: "*/10 * * * *" ## every 10 minutes

jobs:
  fetch:
    name: "Fetch"
    if: |
      !github.event.deployment_status || github.event.deployment_status.state == 'success'
    runs-on: ubuntu-20.04
    steps:
      - name: Fetch URLs that use AWS Lambda
        run: |
          cat << EOF > curl-format.txt
            %{url_effective}\n
              Status code: %{response_code}\n
              Time: %{time_total}\n
            \n
          EOF

          for PATHNAME in "/@hash" "/types/DUMMY_ENTITY_ID"; do
            curl --output /dev/null --silent --write-out "@curl-format.txt" "${BASE_URL}${PATHNAME}"
          done
        env:
          BASE_URL: ${{ github.event.deployment_status && github.event.deployment_status.target_url || 'https://blockprotocol.org' }}
