## Vercel uses AWS Lambda. When we call getStaticProps in fallback mode or getServerSideProps,
## a cold Lambda function may take 5-15 seconds to execute. This pipeline warms up Lambda
## containers for new deployments and keeps them up by fetching affected URLs every 10 minutes.

name: Warm up Vercel

on:
  deployment_status:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  fetch:
    name: "Fetch"
    if: github.event_name == 'schedule' || github.event.deployment_status.state == 'success'
    runs-on: ubuntu-20.04
    steps:
      - name: Fetch URLs that use AWS Lambda
        run: |
          cat << EOF > curl-format.txt
            %{url_effective}\n
              Status code: %{response_code}\n
              Time: %{time_total}\n
            \n
          EOF

          for PATHNAME in "/@hash" "/types/DUMMY_ENTITY_ID" "/api/me" ; do
            curl --output /dev/null --silent --write-out "@curl-format.txt" "${BASE_URL}${PATHNAME}"
          done
        env:
          BASE_URL: ${{ github.event.deployment.environment != 'production' && github.event.deployment_status.target_url || 'https://blockprotocol.org' }}
